.background-header {
  background-image: url("images/hero-background.jpg");
  background-size: cover;
}

.background-program {
  background-image: url("images/background_program.jpg");
  background-size: cover;
}

.h1-background {
  background-image: url("images/h1.jpg");
  /* stylelint-disable-next-line csstree/validator */
  background-clip: text;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
}

.program-height {
  height: 15vh;
}

.program-svg-img {
  width: 10%;
}

.hamburger {
  font-size: 3em;
}

.company-logo-image {
  width: 90px;
}

.top-nav-img-width {
  width: 10px;
}

.horizontal-line {
  width: 10%;
  opacity: 1;
}

.font-size-1 {
  font-size: 4em;
}

.font-size-2 {
  font-size: 2em;
}

.font-size-3 {
  font-size: 20px;
}

.font-size-4 {
  font-size: 8px;
}

.font-coco {
  font-family: COCOGOOSE, sans-serif;
}

.font-lato {
  font-family: Lato, sans-serif;
}

.bg-1 {
  background-color: #272a31;
}

.bg-2 {
  background-color: #ec5242;
}

.bg-3 {
  background-color: #d3d3d3;
}

.bg-3-opacity {
  background-color: rgb(211 211 211 / 20%);
}

.color-1 {
  color: #272a31;
}

.color-2 {
  color: #ec5242;
}

.color-3 {
  color: #d3d3d3;
}

@media only screen and (min-width: 768px) {
  .page-width-desktop {
    width: 75vw;
  }

  .page-height-desktop {
    height: 100vh;
  }


  .desktop-font-size-1 {
    font-size: 6em;
  }

  .desktop-font-size-2 {
    font-size: 4em;
  }

  .nav-logo-size {
    width: 100%;
  }
}
