.background-header {
  background-image: url("images/hero-background.jpg");
  background-size: cover;
}

.background-program {
  background-image: url("images/background_program.jpg");
  background-size: cover;
}
.font-size-1 {
  font-size: 4em;
}

.font-size-2 {
  font-size: 3em;
}

.font-size-3 {
  font-size: 25px;
}

.font-coco {
  font-family: COCOGOOSE, sans-serif;
}

.font-lato {
  font-family: Lato, sans-serif;
}

.bg-1 {
  background-color: #272a31;
}

.bg-2 {
  background-color: #ec5242;
}

.bg-3 {
  background-color: #d3d3d3;
}


.color-1 {
  color: #272a31;
}

.color-2 {
  color: #ec5242;
}

.color-3 {
  color: #d3d3d3;
}

.hamburger {
  font-size: 3em;
}
